set -g default-terminal "screen-256color"

# count from 1
set -g base-index 1

# Terminal emulator window title
set -g set-titles on
set -g set-titles-string '#(whoami) :: #h :: #(curl icanhazip.com)'

set -g status-utf8 on
set -g status-bg black
set -g status-fg white
set -g status-interval 60
set -g status-left-length 60
set -g status-left "#[fg=Green]#(whoami)#[fg=white] :: #[fg=blue]#(hostname -s)#[fg=white] :: #[fg=yellow]#(curl ipecho.net/plain; echo)"
set -g status-justify left
set -g status-right-length 60
set -g status-right '#[fg=white]%a %d %b %R'

# Notifying if other windows has activities
#setw -g monitor-activity on
set -g visual-activity on
